@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: ui-sans-serif, system-ui, -apple-system, "Segoe UI", sans-serif;
  --font-heading: ui-sans-serif, system-ui, -apple-system, "Segoe UI", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f6f6f8;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
